/* ********************************/
/*        For Influencer Gear     */
/**********************************/


/* ********************************/
/*      For Poppins-700 Font      */
/**********************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ********************************/
/*        For Header Section      */
/**********************************/

.header-menu{
    display: flex;
    margin: 87px 120px 0px 120px;
    width: 90%;
    height: 36px;
    align-items: center;
    justify-content: space-between;
}
.company-name{
    flex: 1;
}
.title-name{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
.menu-items{
    display: flex;
    flex: 1;
}
.menu-name a{
    text-decoration: none;
    align-items: top;
    font-size: 16px;
    font-weight: 700;
    color: black;
    padding: 5px 20px;
    color: #3A3A3A;
}

/* ********************************/
/*        For Main Container      */
/**********************************/

.container{
    position: relative;
    margin: 145px 120px;
    width: 100%;
    height: 36px;
    align-items: center;
    justify-content: space-between;
}
.top-section{
    display: flex;
    width: 90%;
}
.section-title{
    flex: 1;
}
.section-title h1{
    font-size: 52px;
    color: #3A3A3A;
}
.section-title p{
    line-height: 2;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
    color: #3A3A3A;
}
.section-image{
    flex: 1;
}
.section-image img{
    height: 414px;
    width: 440px;
    top: 210px;
    object-fit: cover;    
}

.btn{
    font-size: 16px;
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    color: white;
}

.btn .right-arrow{
    padding: 10px;
}

/* ********************************/
/*        For Logo Section        */
/**********************************/

.logo-section{
    margin: 100px 45px;
    border: 1px solid lightgray;
    height: 110px;
    width: 1110px;
    border-left: none;
    border-right: none;
}
.logos{
    display: flex;
    align-items: center;
    margin: 35px 62px;
    gap: 61px;
    cursor: pointer;
}

/* ********************************/
/* For Popular Collection Section */
/**********************************/

.popular-collecion{
    position: relative;
    width: 80%;
}

.collection-header-title{
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 30px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collection{
    width: 330px;
    height: 480px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 15px 15px;
}
.collection-image {
    padding: 16px 14px;
}
.collection-details{
    padding-left: 14px;
}
.collection-title{
    color: #18191F;
    font-size: 28px;
}
.collection-price{
    font-size: 24px;
    color: #000000;
}
.collection-mark, .collection-content{
    font-size: 14px;
}
.filled{
    color: #FFC014;
}
.half-filled{
    color: #fcba058f;
}
.collection-mark span{
   font-size: 14px; 
   color: #5E6366;
}
.collection-content{
    color: #787885;
}

.see-more{
    font-size: 14px;
    color: #E02C6D;
    margin: 20px 0 25px 1100px;
}
/* ********************************/
/*        For Footer Section      */
/**********************************/

.footer-area{
    width: 100%;
    background-color: #00001a;
    
    color: white;
    height: 150px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    margin-left: 0;
    bottom: 0;
    left: 0;
}

.footer-title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}
.copyright-content{
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.social-links{
    display: flex;
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-left: 750px;
    
}
.social-link a{
    color: #D9DBE1;
    font-size: 14px;
    width: 15px;
    margin: 0 5px;
}

/* ********************************/
/*   For Media Query Section      */
/**********************************/

/* For Mobile Devices */

@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }
    .top-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-title, .section-image{
        flex-direction: column;
        align-items: center; 
    }
    /* .top-section, .logo-section, .popular-collecion{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-title, .section-image, .logos, .collection{
        flex-direction: column;
        align-items: center; 
    } */
    
}

/* For Tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }

    .top-section, .logo-section, .popular-collecion{
        grid-template-columns: repeat(2, 1fr);
    }
    .section-title, .section-image, .logos, .collection{
        grid-template-columns: repeat(1, 1fr);
    }

}
